{{ define "main" }}

<article class="page">

    <header class="page-header">
        <h1>{{ .Title }}</h1>
        <p class="back-link">
            <a href="/">← Back to Gabriel's Workshop</a>
        </p>
    </header>

    <div class="page">
        {{ .Content }}
    </div>
    <div class="page">
    <form id="guestbook-form">

        <label>Name</label>

        <input
            id="name"
            maxlength="50"
            required>

        <label>Message</label>

        <textarea
            id="message"
            maxlength="1000"
            required></textarea>

        <button type="submit">
            Sign the Guestbook
        </button>

        <p id="status"></p>

    </form>
    </div>
    <hr>

    <div id="entries">
        Loading...
    </div>

</article>

<script src="/js/guestbook.js"></script>

{{ end }}