{{ define "main" }}

<div class="homepage">

    <header class="hero">
        <h1>Gabriel's Workshop</h1>
        <p></p>
    </header>

    <div class="columns">

        <aside class="sidebar left">

            <h2>Explore</h2>

            <nav>
                <ul>
                    <li><a href="/posts/about/">About</a></li>
                    <li><a href="/music/">My Music</a></li>
                    <li><a href="/the-journey-of-zenda/">The Journey of Zenda</a></li>
                    <li><a href="https://github.com/gabrieljmiller">GitHub</a></li>
                    <li><a href="/guestbook/">Guestbook</a></li>

                </ul>
            </nav>
<aside class="subscribe-widget">

    <h3>Updates</h3>

    <p>
        Get an email whenever I publish a new project, article, or blog post.
        No spam, just occasional updates.
    </p>

    <form
        action="https://api.follow.it/subscription-form/QzFFTzJFNUcyMHpHNXF2TUVHS2UzZWpwUDhzKzBJSjhMcXRlS05DY2FQVDJQcm5ad1h3eFlWcjZNaHhQRTY4bzk2N3Zoc1ZveGt2dHBPYnorZldhaENERHBZZkpOSFlkSWtuSmFuRi9ITUE4WFpXamlvRWxNZm5uam05ejE4R1Z8Qk92aW5ick1oZGUveGVEMGpYbFkyZ1hvQVlWeTJFU1RJeGI5RDl3cjNZdz0=/8"
        method="post"
        target="_blank">

        <label for="email" class="sr-only">
            Email Address
        </label>

        <input
            type="email"
            id="email"
            name="email"
            placeholder="you@example.com"
            required>

        <button type="submit">
            Subscribe
        </button>

    </form>

    <p class="subscribe-note">
        You can unsubscribe at any time.
    </p>

</aside>

<style>


.subscribe-widget h3 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.subscribe-widget p {
    margin-bottom: 1rem;
    font-size: .95rem;
}

.subscribe-widget input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    padding: .6rem;
    margin-bottom: .75rem;
    font: inherit;
}

.subscribe-widget button {
    width: 100%;
    padding: .6rem;
    font: inherit;
    cursor: pointer;
}

.subscribe-note {
    margin-top: .75rem;
    font-size: .8rem;
    color: #666;
}

.sr-only {
    position: absolute;
    left: -9999px;
}
</style>


        </aside>

        <main class="content">
            <div class="right-column">
            <div>
                <h1 class="year-heading-homepage">Updates</h1>
                <p>{{ .Site.Params.profileUpdates | markdownify }}</p>
            </div>
      {{ $posts := where site.RegularPages "Type" "posts" }}
      {{ range ($posts.ByDate.Reverse).GroupByDate "2006" }}
            <div class="year-group">
                <h1 class="year-heading-homepage">{{ .Key }}</h1> <!-- Year -->
                <ul class="post-list-homepage">
                    {{ range first 5 .Pages }}
                    <li class="post-item-homepage">
                        <span class = "post-title-homepage">
                            <a href="{{ .RelPermalink }}" class="post-title-homepage-link">{{ .Title }}</a>
                        </span>
                        <span class="dot-leader"></span>
                        <span class="post-date-homepage">{{ .Date.Format "01.02" }}</span>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ else }}
            <p>No posts yet. Check back soon!</p>
            {{ end }}
            {{/* Link to full posts page */}}
            <div class="all-posts-link-homepage",>
                <a href="/posts/">View All Posts --></a>
            </div>
        </div>

        </main>

        <aside class="sidebar right">

            <section>

                <h2>Currently...</h2>

                <ul>
                    <li>Building this website</li>
                    <li>Detoxing from smartphone</li>
                    <li>Gardening</li>
                </ul>

            </section>

            <section>

                <h3>Reading</h3>

                      <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 98px;
          height: 160px;
          padding: 0px 0px;
          overflow: hidden;
        }
      </style>
      <div id="gr_grid_widget_1783629559">
        <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
          <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="The Dawn of Everything: A New History of Humanity" rel="nofollow" href="https://www.goodreads.com/book/show/56269264-the-dawn-of-everything"><img alt="The Dawn of Everything: A New History of Humanity" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1717101866l/56269264._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Dying Earth (The Dying Earth, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/951749.The_Dying_Earth"><img alt="The Dying Earth" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1558264964l/951749._SY160_.jpg" /></a></div>
    <br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/121865571-gabriel">Gabriel's favorite books »</a>
  <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Gabriel, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/grid_widget/121865571.Gabriel's%20currently-reading%20book%20montage?cover_size=medium&hide_link=&hide_title=true&num_books=2&order=a&shelf=currently-reading&sort=date_added&widget_id=1783629559" type="text/javascript" charset="utf-8"></script>


            </section>

        </aside>
        

    </div>

    <footer>

        <hr>

        <p>
            © 2026 Gabriel • Built with Hugo
        </p><p style="text-align: right;"><a href="/index.xml">RSS Feed</a></p>

    </footer>

</div>

{{ end }}